:root {
  --bg-primario: #000000;
  --bg-secundario: #0a0a0a;
  --bg-realce: #1a1a1a;
  --texto-primario: #f8f8f2;
  --texto-secundario: #a6a28c;
  --realce-azul: #78dce8;
  --realce-verde: #a9dc76;
  --realce-laranja: #fc9867;
  --realce-rosa: #ff6188;
  --realce-roxo: #ab9df2;
  --realce-amarelo: #ffd866;
  --cor-borda: #2a2a2a;
  --bg-barra-lateral: #0a0a0a;
}

#fixo-esq {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 35%;
  height: 85%;
  background-color: var(--bg-barra-lateral);
  border: 2px solid var(--cor-borda);
  border-radius: 10px;
}

header {  
  padding: 2%;
  width: 100%;
  height: 100%;
  color: var(--texto-secundario);
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: var(--realce-azul);
  font-weight: bold;
}

.info-perfil h1 {
  font-size: 2rem;
  color: var(--realce-azul);
  margin-bottom: 10px;
}

.descricao {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--texto-primario);
  width: 95%;
}

.conteudo-home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto-perfil {
  width: 100%;
  height: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.foto-perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#fixo-dir {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 45%;
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg-primario);
  color: var(--texto-primario);
}



footer {
  position: fixed;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: var(--bg-secundario);
  color: var(--texto-secundario);
  text-align: center;
  padding: 5px;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

